# Retrieve and Process Census Data for Pertussis Analysis

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states
from pprint import pprint
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff

# Census API Key
from config import api_key

# Plotly credentials
# plotly.tools.set_credentials_file(username='chelmo', api_key=plotly_key)

#from apikeys import CENSUS_API_KEY
c10 = Census(api_key, year=2010)
c11 = Census(api_key, year=2011)
c12 = Census(api_key, year=2012)
c13 = Census(api_key, year=2013)
c14 = Census(api_key, year=2014)
c15 = Census(api_key, year=2015)
c16 = Census(api_key, year=2016)

## Run census data and include the following codes:

"B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"

In [116]:
# Run Census Search to retrieve county-level data for 2010
census_data_10 = c10.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_10_pd = pd.DataFrame(census_data_10)

#Reorder and rename columns
census_10_pd = census_10_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_10_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,250699.0,11511.0,11200.0,11359.0,7360.0,10870.0,10802.0,10655.0,6856.0,62201.0,...,2798.0,347.0,63.0,159.0,48875.0,21085.0,27790.0,"Merced County, California",047,06
1,9605.0,262.0,277.0,334.0,213.0,250.0,319.0,307.0,167.0,634.0,...,77.0,15.0,43.0,0.0,1617.0,631.0,986.0,"Modoc County, California",049,06
2,13905.0,413.0,143.0,654.0,354.0,500.0,428.0,353.0,127.0,2564.0,...,146.0,0.0,0.0,0.0,1658.0,454.0,1204.0,"Mono County, California",051,06
3,407435.0,16683.0,14707.0,15142.0,9700.0,15861.0,14456.0,13739.0,9201.0,122788.0,...,3930.0,620.0,97.0,296.0,50330.0,19907.0,30423.0,"Monterey County, California",053,06
4,134051.0,4191.0,4566.0,4322.0,2887.0,3842.0,3897.0,4746.0,2779.0,30160.0,...,607.0,250.0,125.0,51.0,12449.0,3697.0,8752.0,"Napa County, California",055,06

## Process DataFrame

Use raw DataFrame to create new DF with the following columns:
* Total population
* % of population that is foreign born
* % of population that moved from overseas in past year
* Birthrate for previous year
* % of population that is school aged (5-17)
* Average household size
* % of school aged population not enrolled in public or private school
* % of school aged population below the poverty line

In [117]:
# Save raw DF as backup
census_10_pd.to_csv("10_raw_data.csv", encoding="utf-8", index=False)

In [118]:
# Check column types
census_10_pd.dtypes

Total Pop                                         float64
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [119]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_10_pd['% Foreign Born'] = census_10_pd['# Foreign Born'] / census_10_pd['Total Pop']*100
census_10_pd['% Foreign Born'].head()

0    24.811028
1     6.600729
2    18.439410
3    30.136832
4    22.498900
Name: % Foreign Born, dtype: float64

In [120]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_10_pd['% Overseas Move Past Year'] = census_10_pd['Overseas Move Past Year'] / census_10_pd['Total Pop']*100
census_10_pd['% Overseas Move Past Year'].head()

0    0.246910
1    0.000000
2    0.640058
3    0.921865
4    0.928751
Name: % Overseas Move Past Year, dtype: float64

In [121]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_10_pd['Birthrate Past Year'] = (census_10_pd["Women 15-50 Who've Given Birth"] / census_10_pd['Total Female Population'])*100
census_10_pd['Birthrate Past Year'].head()

0    8.157812
1    5.335534
2    2.052350
3    6.379867
4    5.881788
Name: Birthrate Past Year, dtype: float64

In [122]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_10_pd['Total School Pop'] = census_10_pd['Total Male Public School'] + census_10_pd['Total Female Public School'] + census_10_pd['Total Male Private School'] + census_10_pd['Total Female Private School'] + census_10_pd['Total Male Not Enrolled'] + census_10_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_10_pd['% School Aged'] = census_10_pd['Total School Pop'] / census_10_pd['Total Pop']*100
census_10_pd['% School Aged'].head()

0    94.545650
1    97.397189
2    96.138080
3    95.263048
4    96.350643
Name: % School Aged, dtype: float64

In [123]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_10_pd['Ave HH Size'] = (1*(census_10_pd['1-person Fam HH']+census_10_pd['1-person non-Fam HH'])+2*(census_10_pd['2-person Fam HH']+census_10_pd['2-person non-Fam HH'])+3*(census_10_pd['3-person Fam HH']+census_10_pd['3-person non-Fam HH'])+4*(census_10_pd['4-person Fam HH']+census_10_pd['4-person non-Fam HH'])+5*(census_10_pd['5-person Fam HH']+census_10_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_10_pd['6-person non-Fam HH'])+7*(census_10_pd['7+-person Fam HH']+census_10_pd['7+-person non-Fam HH']))/(census_10_pd['Total Fam HH'] + census_10_pd['Total non-Fam HH'])
census_10_pd['Ave HH Size'].head()

0    3.202760
1    2.154720
2    2.160188
3    2.830233
4    2.445088
Name: Ave HH Size, dtype: float64

In [124]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_10_pd['% Not Enrolled'] = census_10_pd['Total Male Not Enrolled'] + census_10_pd['Total Female Not Enrolled'] / census_10_pd['Total School Pop']*100
census_10_pd['% Not Enrolled'].head()

0     79257.489400
1      3724.413148
2      5765.866846
3    142898.782318
4     48126.947483
Name: % Not Enrolled, dtype: float64

In [125]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_10_pd['% School-Aged Below Poverty Line'] = census_10_pd['Total Below Poverty Level Ages 3+'] / census_10_pd['Total School Pop']*100
census_10_pd['% School-Aged Below Poverty Line'].head()

0    20.620188
1    17.284874
2    12.402753
3    12.967138
4     9.638508
Name: % School-Aged Below Poverty Line, dtype: float64

In [126]:
# Assemble New DF for 2010
Y10_df = census_10_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y10_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Merced County, California",047,250699.0,24.811028,0.246910,8.157812,94.545650,3.202760,79257.489400,20.620188
1,"Modoc County, California",049,9605.0,6.600729,0.000000,5.335534,97.397189,2.154720,3724.413148,17.284874
2,"Mono County, California",051,13905.0,18.439410,0.640058,2.052350,96.138080,2.160188,5765.866846,12.402753
3,"Monterey County, California",053,407435.0,30.136832,0.921865,6.379867,95.263048,2.830233,142898.782318,12.967138
4,"Napa County, California",055,134051.0,22.498900,0.928751,5.881788,96.350643,2.445088,48126.947483,9.638508

In [127]:
# Print to pdf
Y10_df.to_csv("2010_final.csv", encoding="utf-8", index=False)

## 2011 Data

In [42]:
# Run Census Search to retrieve county-level data for 2010
census_data_11 = c11.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_11_pd = pd.DataFrame(census_data_11)

#Reorder and rename columns
census_11_pd = census_11_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_11_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1494876.0,50416.0,48704.0,45092.0,29804.0,47633.0,45276.0,44759.0,27947.0,459612.0,...,7675.0,1174.0,466.0,732.0,164754.0,64877.0,99877.0,"Alameda County, California",001,06
1,1167.0,47.0,38.0,11.0,30.0,30.0,68.0,28.0,32.0,54.0,...,8.0,0.0,0.0,0.0,170.0,100.0,70.0,"Alpine County, California",003,06
2,38244.0,609.0,772.0,1220.0,791.0,633.0,815.0,975.0,658.0,2232.0,...,149.0,0.0,0.0,8.0,3285.0,819.0,2466.0,"Amador County, California",005,06
3,219309.0,6155.0,6279.0,6716.0,4423.0,6115.0,5706.0,6585.0,4193.0,17216.0,...,1460.0,169.0,75.0,109.0,40060.0,19284.0,20776.0,"Butte County, California",007,06
4,45794.0,961.0,1164.0,1546.0,1047.0,939.0,1134.0,1243.0,1004.0,1991.0,...,219.0,150.0,22.0,21.0,3583.0,640.0,2943.0,"Calaveras County, California",009,06

In [48]:
# Save raw DF as backup
census_11_pd.to_csv("11_raw_data.csv", encoding="utf-8", index=False)

In [128]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_11_pd['% Foreign Born'] = census_11_pd['# Foreign Born'] / census_11_pd['Total Pop']*100
census_11_pd['% Foreign Born'].head()

0    30.745828
1     4.627249
2     5.836210
3     7.850111
4     4.347731
Name: % Foreign Born, dtype: float64

In [129]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_11_pd['% Overseas Move Past Year'] = census_11_pd['Overseas Move Past Year'] / census_11_pd['Total Pop']*100
census_11_pd['% Overseas Move Past Year'].head()

0    1.016606
1    2.656384
2    0.143813
3    0.451874
4    0.155042
Name: % Overseas Move Past Year, dtype: float64

In [130]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_11_pd['Birthrate Past Year'] = (census_11_pd["Women 15-50 Who've Given Birth"] / census_11_pd['Total Female Population'])*100
census_11_pd['Birthrate Past Year'].head()

0    4.970188
1    2.857143
2    3.469032
3    5.916491
4    2.810786
Name: Birthrate Past Year, dtype: float64

In [131]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_11_pd['Total School Pop'] = census_11_pd['Total Male Public School'] + census_11_pd['Total Female Public School'] + census_11_pd['Total Male Private School'] + census_11_pd['Total Female Private School'] + census_11_pd['Total Male Not Enrolled'] + census_11_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_11_pd['% School Aged'] = census_11_pd['Total School Pop'] / census_11_pd['Total Pop']*100
census_11_pd['% School Aged'].head()

0    96.096532
1    98.371894
2    98.318691
3    96.690058
4    97.665633
Name: % School Aged, dtype: float64

In [132]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_11_pd['Ave HH Size'] = (1*(census_11_pd['1-person Fam HH']+census_11_pd['1-person non-Fam HH'])+2*(census_11_pd['2-person Fam HH']+census_11_pd['2-person non-Fam HH'])+3*(census_11_pd['3-person Fam HH']+census_11_pd['3-person non-Fam HH'])+4*(census_11_pd['4-person Fam HH']+census_11_pd['4-person non-Fam HH'])+5*(census_11_pd['5-person Fam HH']+census_11_pd['5-person non-Fam HH'])+6*(census_11_pd['6-person Fam HH']+census_11_pd['6-person non-Fam HH'])+7*(census_11_pd['7+-person Fam HH']+census_11_pd['7+-person non-Fam HH']))/(census_11_pd['Total Fam HH'] + census_11_pd['Total non-Fam HH'])
census_11_pd['Ave HH Size'].head()

0    2.367277
1    2.073620
2    2.233152
3    2.169194
4    2.271606
Name: Ave HH Size, dtype: float64

In [133]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_11_pd['% Not Enrolled'] = census_11_pd['Total Male Not Enrolled'] + census_11_pd['Total Female Not Enrolled'] / census_11_pd['Total School Pop']*100
census_11_pd['% Not Enrolled'].head()

0    503112.456335
1       452.787456
2     16482.935214
3     71411.660222
4     17813.595305
Name: % Not Enrolled, dtype: float64

In [134]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_11_pd['% School-Aged Below Poverty Line'] = census_11_pd['Total Below Poverty Level Ages 3+'] / census_11_pd['Total School Pop']*100
census_11_pd['% School-Aged Below Poverty Line'].head()

0    11.468935
1    14.808362
2     8.736470
3    18.891771
4     8.011179
Name: % School-Aged Below Poverty Line, dtype: float64

In [135]:
# Assemble New DF for 2010
Y11_df = census_11_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y11_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1494876.0,30.745828,1.016606,4.970188,96.096532,2.367277,503112.456335,11.468935
1,"Alpine County, California",003,1167.0,4.627249,2.656384,2.857143,98.371894,2.073620,452.787456,14.808362
2,"Amador County, California",005,38244.0,5.836210,0.143813,3.469032,98.318691,2.233152,16482.935214,8.736470
3,"Butte County, California",007,219309.0,7.850111,0.451874,5.916491,96.690058,2.169194,71411.660222,18.891771
4,"Calaveras County, California",009,45794.0,4.347731,0.155042,2.810786,97.665633,2.271606,17813.595305,8.011179

In [136]:
# Print to pdf
Y11_df.to_csv("2011_final.csv", encoding="utf-8", index=False)

## 2012 Data

In [43]:
# Run Census Search to retrieve county-level data for 2010
census_data_12 = c12.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_12_pd = pd.DataFrame(census_data_12)

#Reorder and rename columns
census_12_pd = census_12_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_12_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1515136.0,50465.0,49105.0,45485.0,29436.0,47720.0,45923.0,44899.0,27830.0,463896.0,...,7700.0,1109.0,359.0,526.0,170434.0,66598.0,103836.0,"Alameda County, California",001,06
1,1197.0,57.0,47.0,24.0,36.0,3.0,49.0,19.0,35.0,57.0,...,3.0,3.0,0.0,0.0,159.0,60.0,99.0,"Alpine County, California",003,06
2,37764.0,556.0,868.0,964.0,796.0,789.0,838.0,881.0,635.0,2148.0,...,211.0,0.0,0.0,10.0,3435.0,818.0,2617.0,"Amador County, California",005,06
3,220101.0,6240.0,6374.0,6553.0,4378.0,6100.0,5656.0,6658.0,4080.0,17140.0,...,1423.0,177.0,46.0,131.0,41942.0,19274.0,22668.0,"Butte County, California",007,06
4,45507.0,939.0,1252.0,1390.0,1050.0,899.0,1086.0,1236.0,913.0,1961.0,...,256.0,143.0,14.0,72.0,4446.0,955.0,3491.0,"Calaveras County, California",009,06

In [49]:
# Save raw DF as backup
census_12_pd.to_csv("12_raw_data.csv", encoding="utf-8", index=False)

In [137]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_12_pd['% Foreign Born'] = census_12_pd['# Foreign Born'] / census_12_pd['Total Pop']*100
census_12_pd['% Foreign Born'].head()

0    30.617450
1     4.761905
2     5.687957
3     7.787334
4     4.309227
Name: % Foreign Born, dtype: float64

In [138]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_12_pd['% Overseas Move Past Year'] = census_12_pd['Overseas Move Past Year'] / census_12_pd['Total Pop']*100
census_12_pd['% Overseas Move Past Year'].head()

0    0.952324
1    1.837928
2    0.158881
3    0.376645
4    0.153822
Name: % Overseas Move Past Year, dtype: float64

In [139]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_12_pd['Birthrate Past Year'] = (census_12_pd["Women 15-50 Who've Given Birth"] / census_12_pd['Total Female Population'])*100
census_12_pd['Birthrate Past Year'].head()

0    5.053942
1    0.000000
2    2.285904
3    5.945159
4    2.390815
Name: Birthrate Past Year, dtype: float64

In [140]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_12_pd['Total School Pop'] = census_12_pd['Total Male Public School'] + census_12_pd['Total Female Public School'] + census_12_pd['Total Male Private School'] + census_12_pd['Total Female Private School'] + census_12_pd['Total Male Not Enrolled'] + census_12_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_12_pd['% School Aged'] = census_12_pd['Total School Pop'] / census_12_pd['Total Pop']*100
census_12_pd['% School Aged'].head()

0    96.136386
1    99.498747
2    98.252304
3    96.634272
4    97.683873
Name: % School Aged, dtype: float64

In [141]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_12_pd['Ave HH Size'] = (1*(census_12_pd['1-person Fam HH']+census_12_pd['1-person non-Fam HH'])+2*(census_12_pd['2-person Fam HH']+census_12_pd['2-person non-Fam HH'])+3*(census_12_pd['3-person Fam HH']+census_12_pd['3-person non-Fam HH'])+4*(census_12_pd['4-person Fam HH']+census_12_pd['4-person non-Fam HH'])+5*(census_12_pd['5-person Fam HH']+census_12_pd['5-person non-Fam HH'])+6*(census_12_pd['6-person Fam HH']+census_12_pd['6-person non-Fam HH'])+7*(census_12_pd['7+-person Fam HH']+census_12_pd['7+-person non-Fam HH']))/(census_12_pd['Total Fam HH'] + census_12_pd['Total non-Fam HH'])
census_12_pd['Ave HH Size'].head()

0    2.382956
1    2.228846
2    2.234087
3    2.144603
4    2.313641
Name: Ave HH Size, dtype: float64

In [142]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_12_pd['% Not Enrolled'] = census_12_pd['Total Male Not Enrolled'] + census_12_pd['Total Female Not Enrolled'] / census_12_pd['Total School Pop']*100
census_12_pd['% Not Enrolled'].head()

0    509049.545318
1       488.234257
2     16331.063497
3     72853.064624
4     17621.547387
Name: % Not Enrolled, dtype: float64

In [143]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_12_pd['% School-Aged Below Poverty Line'] = census_12_pd['Total Below Poverty Level Ages 3+'] / census_12_pd['Total School Pop']*100
census_12_pd['% School-Aged Below Poverty Line'].head()

0    11.700834
1    13.350126
2     9.257762
3    19.719502
4    10.001575
Name: % School-Aged Below Poverty Line, dtype: float64

In [144]:
# Assemble New DF for 2010
Y12_df = census_12_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y12_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1515136.0,30.617450,0.952324,5.053942,96.136386,2.382956,509049.545318,11.700834
1,"Alpine County, California",003,1197.0,4.761905,1.837928,0.000000,99.498747,2.228846,488.234257,13.350126
2,"Amador County, California",005,37764.0,5.687957,0.158881,2.285904,98.252304,2.234087,16331.063497,9.257762
3,"Butte County, California",007,220101.0,7.787334,0.376645,5.945159,96.634272,2.144603,72853.064624,19.719502
4,"Calaveras County, California",009,45507.0,4.309227,0.153822,2.390815,97.683873,2.313641,17621.547387,10.001575

In [145]:
# Print to pdf
Y12_df.to_csv("2012_final.csv", encoding="utf-8", index=False)

## 2013 Data

In [44]:
# Run Census Search to retrieve county-level data for 2010
census_data_13 = c13.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_13_pd = pd.DataFrame(census_data_13)

#Reorder and rename columns
census_13_pd = census_13_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_13_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1535248.0,50010.0,49228.0,46352.0,29101.0,47512.0,45754.0,45788.0,27569.0,472461.0,...,8407.0,1206.0,375.0,490.0,180209.0,69905.0,110304.0,"Alameda County, California",001,06
1,1165.0,43.0,65.0,31.0,28.0,0.0,47.0,11.0,29.0,44.0,...,0.0,3.0,0.0,0.0,184.0,82.0,102.0,"Alpine County, California",003,06
2,37422.0,508.0,895.0,864.0,767.0,782.0,806.0,870.0,574.0,2135.0,...,233.0,0.0,8.0,0.0,3956.0,1164.0,2792.0,"Amador County, California",005,06
3,220542.0,6230.0,6301.0,6588.0,4261.0,6015.0,5879.0,6484.0,4003.0,16511.0,...,1514.0,239.0,65.0,100.0,42059.0,19082.0,22977.0,"Butte County, California",007,06
4,45147.0,880.0,1398.0,1236.0,1048.0,966.0,976.0,1273.0,833.0,1899.0,...,242.0,96.0,0.0,85.0,4745.0,977.0,3768.0,"Calaveras County, California",009,06

In [50]:
# Save raw DF as backup
census_13_pd.to_csv("13_raw_data.csv", encoding="utf-8", index=False)

In [104]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_13_pd['% Foreign Born'] = census_13_pd['# Foreign Born'] / census_13_pd['Total Pop']*100
census_13_pd['% Foreign Born'].head()

0    30.774246
1     3.776824
2     5.705200
3     7.486556
4     4.206260
Name: % Foreign Born, dtype: float64

In [105]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_13_pd['% Overseas Move Past Year'] = census_13_pd['Overseas Move Past Year'] / census_13_pd['Total Pop']*100
census_13_pd['% Overseas Move Past Year'].head()

0    0.982903
1    1.373391
2    0.117578
3    0.392216
4    0.239219
Name: % Overseas Move Past Year, dtype: float64

In [106]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_13_pd['Birthrate Past Year'] = (census_13_pd["Women 15-50 Who've Given Birth"] / census_13_pd['Total Female Population'])*100
census_13_pd['Birthrate Past Year'].head()

0    4.854952
1    0.000000
2    3.099593
3    5.709451
4    2.653259
Name: Birthrate Past Year, dtype: float64

In [108]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_13_pd['Total School Pop'] = census_13_pd['Total Male Public School'] + census_13_pd['Total Female Public School'] + census_13_pd['Total Male Private School'] + census_13_pd['Total Female Private School'] + census_13_pd['Total Male Not Enrolled'] + census_13_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_13_pd['% School Aged'] = census_13_pd['Total School Pop'] / census_13_pd['Total Pop']*100
census_13_pd['% School Aged'].head()

0    96.243213
1    99.055794
2    98.204265
3    96.758441
4    97.525860
Name: % School Aged, dtype: float64

In [109]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_13_pd['Ave HH Size'] = (1*(census_13_pd['1-person Fam HH']+census_13_pd['1-person non-Fam HH'])+2*(census_13_pd['2-person Fam HH']+census_13_pd['2-person non-Fam HH'])+3*(census_13_pd['3-person Fam HH']+census_13_pd['3-person non-Fam HH'])+4*(census_13_pd['4-person Fam HH']+census_13_pd['4-person non-Fam HH'])+5*(census_13_pd['5-person Fam HH']+census_13_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_13_pd['6-person non-Fam HH'])+7*(census_13_pd['7+-person Fam HH']+census_13_pd['7+-person non-Fam HH']))/(census_13_pd['Total Fam HH'] + census_13_pd['Total non-Fam HH'])
census_13_pd['Ave HH Size'].head()

0    2.318362
1    3.272381
2    2.171167
3    2.345101
4    2.607168
Name: Ave HH Size, dtype: float64

In [110]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_13_pd['% Not Enrolled'] = census_13_pd['Total Male Not Enrolled'] + census_13_pd['Total Female Not Enrolled'] / census_13_pd['Total School Pop']*100
census_13_pd['% Not Enrolled'].head()

0    518697.811201
1       537.462738
2     16115.595918
3     73727.136110
4     17508.229389
Name: % Not Enrolled, dtype: float64

In [111]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_13_pd['% School-Aged Below Poverty Line'] = census_13_pd['Total Below Poverty Level Ages 3+'] / census_13_pd['Total School Pop']*100
census_13_pd['% School-Aged Below Poverty Line'].head()

0    12.196292
1    15.944541
2    10.764626
3    19.709644
4    10.776743
Name: % School-Aged Below Poverty Line, dtype: float64

In [112]:
# Assemble New DF for 2010
Y13_df = census_13_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y13_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1535248.0,30.774246,0.982903,4.854952,96.243213,2.318362,518697.811201,12.196292
1,"Alpine County, California",003,1165.0,3.776824,1.373391,0.000000,99.055794,3.272381,537.462738,15.944541
2,"Amador County, California",005,37422.0,5.705200,0.117578,3.099593,98.204265,2.171167,16115.595918,10.764626
3,"Butte County, California",007,220542.0,7.486556,0.392216,5.709451,96.758441,2.345101,73727.136110,19.709644
4,"Calaveras County, California",009,45147.0,4.206260,0.239219,2.653259,97.525860,2.607168,17508.229389,10.776743

In [113]:
# Print to pdf
Y13_df.to_csv("2013_final.csv", encoding="utf-8", index=False)

## 2014 Data

In [45]:
# Run Census Search to retrieve county-level data for 2010
census_data_14 = c14.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_14_pd = pd.DataFrame(census_data_14)

#Reorder and rename columns
census_14_pd = census_14_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_14_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,9974203.0,329505.0,321435.0,332447.0,216131.0,315133.0,307706.0,318660.0,206583.0,3484350.0,...,60342.0,9176.0,3913.0,4973.0,1706375.0,657132.0,1049243.0,"Los Angeles County, California",037,06
1,152452.0,5879.0,5992.0,6006.0,3729.0,5909.0,6315.0,5574.0,3431.0,33159.0,...,1685.0,157.0,24.0,164.0,30188.0,11412.0,18776.0,"Madera County, California",039,06
2,256802.0,6776.0,8044.0,7656.0,4337.0,6477.0,7499.0,7745.0,4282.0,48477.0,...,817.0,211.0,91.0,91.0,21155.0,6919.0,14236.0,"Marin County, California",041,06
3,17946.0,339.0,502.0,360.0,267.0,358.0,374.0,545.0,350.0,1013.0,...,101.0,12.0,0.0,19.0,2818.0,800.0,2018.0,"Mariposa County, California",043,06
4,87612.0,2659.0,2939.0,2613.0,1804.0,2494.0,2515.0,2618.0,1574.0,11707.0,...,516.0,51.0,3.0,44.0,16578.0,5145.0,11433.0,"Mendocino County, California",045,06

In [51]:
# Save raw DF as backup
census_14_pd.to_csv("14_raw_data.csv", encoding="utf-8", index=False)

In [95]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_14_pd['% Foreign Born'] = census_14_pd['# Foreign Born'] / census_14_pd['Total Pop']*100
census_14_pd['% Foreign Born'].head()

0    34.933618
1    21.750453
2    18.877189
3     5.644712
4    13.362325
Name: % Foreign Born, dtype: float64

In [96]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_14_pd['% Overseas Move Past Year'] = census_14_pd['Overseas Move Past Year'] / census_14_pd['Total Pop']*100
census_14_pd['% Overseas Move Past Year'].head()

0    0.696567
1    0.342403
2    0.806847
3    0.278614
4    0.286490
Name: % Overseas Move Past Year, dtype: float64

In [97]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_14_pd['Birthrate Past Year'] = (census_14_pd["Women 15-50 Who've Given Birth"] / census_14_pd['Total Female Population'])*100
census_14_pd['Birthrate Past Year'].head()

0    4.845628
1    6.499315
2    4.872746
3    7.576669
4    5.672889
Name: Birthrate Past Year, dtype: float64

In [98]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_14_pd['Total School Pop'] = census_14_pd['Total Male Public School'] + census_14_pd['Total Female Public School'] + census_14_pd['Total Male Private School'] + census_14_pd['Total Female Private School'] + census_14_pd['Total Male Not Enrolled'] + census_14_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_14_pd['% School Aged'] = census_14_pd['Total School Pop'] / census_14_pd['Total Pop']*100
census_14_pd['% School Aged'].head()

0    96.247199
1    95.294912
2    97.224710
3    97.336454
4    96.546135
Name: % School Aged, dtype: float64

In [99]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_14_pd['Ave HH Size'] = (1*(census_14_pd['1-person Fam HH']+census_14_pd['1-person non-Fam HH'])+2*(census_14_pd['2-person Fam HH']+census_14_pd['2-person non-Fam HH'])+3*(census_14_pd['3-person Fam HH']+census_14_pd['3-person non-Fam HH'])+4*(census_14_pd['4-person Fam HH']+census_14_pd['4-person non-Fam HH'])+5*(census_14_pd['5-person Fam HH']+census_14_pd['5-person non-Fam HH'])+6*(census_14_pd['6-person Fam HH']+census_14_pd['6-person non-Fam HH'])+7*(census_14_pd['7+-person Fam HH']+census_14_pd['7+-person non-Fam HH']))/(census_14_pd['Total Fam HH'] + census_14_pd['Total non-Fam HH'])
census_14_pd['Ave HH Size'].head()

0    2.593119
1    3.154386
2    2.140040
3    2.195079
4    2.107468
Name: Ave HH Size, dtype: float64

In [100]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_14_pd['% Not Enrolled'] = census_14_pd['Total Male Not Enrolled'] + census_14_pd['Total Female Not Enrolled'] / census_14_pd['Total School Pop']*100
census_14_pd['% Not Enrolled'].head()

0    3.347178e+06
1    4.930343e+04
2    9.211974e+04
3    7.390232e+03
4    3.275457e+04
Name: % Not Enrolled, dtype: float64

In [101]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_14_pd['% School-Aged Below Poverty Line'] = census_14_pd['Total Below Poverty Level Ages 3+'] / census_14_pd['Total School Pop']*100
census_14_pd['% School-Aged Below Poverty Line'].head()

0    17.774941
1    20.779328
2     8.473015
3    16.132356
4    19.598988
Name: % School-Aged Below Poverty Line, dtype: float64

In [102]:
# Assemble New DF for 2010
Y14_df = census_14_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y14_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Los Angeles County, California",037,9974203.0,34.933618,0.696567,4.845628,96.247199,2.593119,3.347178e+06,17.774941
1,"Madera County, California",039,152452.0,21.750453,0.342403,6.499315,95.294912,3.154386,4.930343e+04,20.779328
2,"Marin County, California",041,256802.0,18.877189,0.806847,4.872746,97.224710,2.140040,9.211974e+04,8.473015
3,"Mariposa County, California",043,17946.0,5.644712,0.278614,7.576669,97.336454,2.195079,7.390232e+03,16.132356
4,"Mendocino County, California",045,87612.0,13.362325,0.286490,5.672889,96.546135,2.107468,3.275457e+04,19.598988

In [115]:
# Print to pdf
Y14_df.to_csv("2014_final.csv", encoding="utf-8", index=False)

## 2015 Data

In [46]:
# Run Census Search to retrieve county-level data for 2010
census_data_15 = c15.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_15_pd = pd.DataFrame(census_data_15)

#Reorder and rename columns
census_15_pd = census_15_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_15_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1584983.0,49806.0,50042.0,47021.0,28378.0,47807.0,46688.0,46436.0,27131.0,497014.0,...,8225.0,1272.0,374.0,480.0,186221.0,71488.0,114733.0,"Alameda County, California",001,06
1,1131.0,29.0,52.0,29.0,52.0,10.0,26.0,25.0,28.0,38.0,...,0.0,2.0,0.0,0.0,195.0,30.0,165.0,"Alpine County, California",003,06
2,36995.0,646.0,900.0,736.0,649.0,652.0,751.0,901.0,502.0,2046.0,...,145.0,4.0,8.0,0.0,3990.0,1224.0,2766.0,"Amador County, California",005,06
3,222564.0,6241.0,6406.0,6455.0,4135.0,5914.0,6316.0,6086.0,3869.0,16961.0,...,1253.0,277.0,79.0,73.0,45859.0,20263.0,25596.0,"Butte County, California",007,06
4,44767.0,730.0,1407.0,1005.0,1000.0,1073.0,1047.0,1151.0,777.0,2324.0,...,315.0,90.0,21.0,107.0,5451.0,1071.0,4380.0,"Calaveras County, California",009,06

In [52]:
# Save raw DF as backup
census_15_pd.to_csv("15_raw_data.csv", encoding="utf-8", index=False)

In [94]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_15_pd['% Foreign Born'] = census_15_pd['# Foreign Born'] / census_15_pd['Total Pop']*100
census_15_pd['% Foreign Born'].head()

0    31.357686
1     3.359859
2     5.530477
3     7.620729
4     5.191324
Name: % Foreign Born, dtype: float64

In [88]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_15_pd['% Overseas Move Past Year'] = census_15_pd['Overseas Move Past Year'] / census_15_pd['Total Pop']*100
census_15_pd['% Overseas Move Past Year'].head()

0    1.126637
1    1.326260
2    0.186512
3    0.353157
4    0.163067
Name: % Overseas Move Past Year, dtype: float64

In [89]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_15_pd['Birthrate Past Year'] = (census_15_pd["Women 15-50 Who've Given Birth"] / census_15_pd['Total Female Population'])*100
census_15_pd['Birthrate Past Year'].head()

0    5.014712
1    2.463054
2    3.698559
3    5.545832
4    2.851375
Name: Birthrate Past Year, dtype: float64

In [90]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_15_pd['Total School Pop'] = census_15_pd['Total Male Public School'] + census_15_pd['Total Female Public School'] + census_15_pd['Total Male Private School'] + census_15_pd['Total Female Private School'] + census_15_pd['Total Male Not Enrolled'] + census_15_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_15_pd['% School Aged'] = census_15_pd['Total School Pop'] / census_15_pd['Total Pop']*100
census_15_pd['% School Aged'].head()

0    96.311191
1    98.938992
2    97.726720
3    96.816646
4    97.500391
Name: % School Aged, dtype: float64

In [91]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_15_pd['Ave HH Size'] = (1*(census_15_pd['1-person Fam HH']+census_15_pd['1-person non-Fam HH'])+2*(census_15_pd['2-person Fam HH']+census_15_pd['2-person non-Fam HH'])+3*(census_15_pd['3-person Fam HH']+census_15_pd['3-person non-Fam HH'])+4*(census_15_pd['4-person Fam HH']+census_15_pd['4-person non-Fam HH'])+5*(census_15_pd['5-person Fam HH']+census_15_pd['5-person non-Fam HH'])+6*(census_15_pd['6-person Fam HH']+census_15_pd['6-person non-Fam HH'])+7*(census_15_pd['7+-person Fam HH']+census_15_pd['7+-person non-Fam HH']))/(census_15_pd['Total Fam HH'] + census_15_pd['Total non-Fam HH'])
census_15_pd['Ave HH Size'].head()

0    2.453636
1    2.162933
2    2.208261
3    2.107025
4    2.211503
Name: Ave HH Size, dtype: float64

In [92]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_15_pd['% Not Enrolled'] = census_15_pd['Total Male Not Enrolled'] + census_15_pd['Total Female Not Enrolled'] / census_15_pd['Total School Pop']*100
census_15_pd['% Not Enrolled'].head()

0    540674.219590
1       484.903485
2     15761.734525
3     75266.513438
4     17523.681177
Name: % Not Enrolled, dtype: float64

In [93]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_15_pd['% School-Aged Below Poverty Line'] = census_15_pd['Total Below Poverty Level Ages 3+'] / census_15_pd['Total School Pop']*100
census_15_pd['% School-Aged Below Poverty Line'].head()

0    12.199086
1    17.426273
2    11.036123
3    21.282352
4    12.488545
Name: % School-Aged Below Poverty Line, dtype: float64

In [86]:
# Assemble New DF for 2010
Y15_df = census_15_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y15_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1584983.0,31.357686,1.126637,5.014712,96.311191,2.453636,540674.219590,12.199086
1,"Alpine County, California",003,1131.0,3.359859,1.326260,2.463054,98.938992,2.162933,484.903485,17.426273
2,"Amador County, California",005,36995.0,5.530477,0.186512,3.698559,97.726720,2.208261,15761.734525,11.036123
3,"Butte County, California",007,222564.0,7.620729,0.353157,5.545832,96.816646,2.107025,75266.513438,21.282352
4,"Calaveras County, California",009,44767.0,5.191324,0.163067,2.851375,97.500391,2.211503,17523.681177,12.488545

In [87]:
# Print to pdf
Y15_df.to_csv("2015_final.csv", encoding="utf-8", index=False)

## 2016 Data

In [47]:
# Run Census Search to retrieve county-level data for 2010
census_data_16 = c16.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_16_pd = pd.DataFrame(census_data_16)

#Reorder and rename columns
census_16_pd = census_16_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_16_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1605217,49865.0,50533.0,47232.0,28154.0,47707.0,46762.0,46917.0,27042.0,508761.0,...,8382.0,1290.0,386.0,549.0,181650.0,69287.0,112363.0,"Alameda County, California",001,06
1,1184,33.0,34.0,45.0,54.0,18.0,24.0,30.0,36.0,37.0,...,3.0,3.0,0.0,0.0,212.0,47.0,165.0,"Alpine County, California",003,06
2,36963,681.0,947.0,676.0,641.0,711.0,669.0,944.0,476.0,2254.0,...,196.0,4.0,9.0,15.0,3508.0,958.0,2550.0,"Amador County, California",005,06
3,223877,6353.0,6577.0,6312.0,4125.0,5867.0,6625.0,5830.0,3783.0,17501.0,...,1206.0,329.0,79.0,72.0,44981.0,20564.0,24417.0,"Butte County, California",007,06
4,44787,750.0,1452.0,900.0,941.0,1077.0,1099.0,1073.0,750.0,2653.0,...,203.0,97.0,25.0,86.0,5462.0,1174.0,4288.0,"Calaveras County, California",009,06

In [53]:
# Save raw DF as backup
census_16_pd.to_csv("16_raw_data.csv", encoding="utf-8", index=False)

In [64]:
census_16_pd.dtypes

Total Pop                                          object
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [65]:
census_16_pd['Total Pop'] = census_16_pd['Total Pop'].apply(pd.to_numeric, errors='coerce')
census_16_pd['Total Pop']

0      1605217
1         1184
2        36963
3       223877
4        44787
5        21361
6      1107925
7        27628
8       183000
9       963160
10       27976
11      135182
12      178807
13       18326
14      871337
15      150261
16       64076
17       31945
18    10057155
19      153366
20      259358
21       17645
22       87409
23      265001
24        9033
25       14051
26      430201
27      140823
28       98639
29     3132211
30      370571
31       18754
32     2323892
33     1479300
34       58051
35     2106754
36     3253356
37      850282
38      714860
39      278680
40      754748
41      439395
42     1885056
43      270931
44      179228
45        2931
46       43668
47      429596
48      497776
49      530561
50       95406
51       63015
52       13180
53      455769
54       53864
55      843110
56      209671
57       73897
Name: Total Pop, dtype: int64

In [66]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_16_pd['% Foreign Born'] = census_16_pd['# Foreign Born'] / census_16_pd['Total Pop']*100
census_16_pd['% Foreign Born']

0     31.694220
1      3.125000
2      6.097990
3      7.817239
4      5.923594
5     24.970741
6     24.398312
7      5.657304
8      9.377049
9     21.363636
10    19.012725
11     5.323194
12    31.844950
13     9.582015
14    20.273098
15    18.381350
16     8.995568
17     6.025982
18    34.545605
19    21.495638
20    18.376144
21     7.044489
22    12.590237
23    25.448206
24     6.254843
25    16.952530
26    30.021548
27    22.844280
28     6.345360
29    30.377104
30    10.451169
31     4.121787
32    21.879631
33    20.507740
34    19.606897
35    21.312218
36    23.530564
37    34.911829
38    23.255463
39    10.435984
40    34.524901
41    22.989338
42    38.066243
43    17.989082
44     4.806169
45     4.332992
46     4.946414
47    20.124955
48    16.804748
49    20.346954
50    22.590822
51     8.320241
52     4.871017
53    22.480467
54     4.637606
55    22.819917
56    22.160909
57    12.127691
Name: % Foreign Born, dtype: float64

In [73]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_16_pd['% Overseas Move Past Year'] = census_16_pd['Overseas Move Past Year'] / census_16_pd['Total Pop']*100
census_16_pd['% Overseas Move Past Year']

0     1.240891
1     0.675676
2     0.135270
3     0.316692
4     0.154063
5     0.280886
6     0.820814
7     0.097727
8     0.312022
9     0.466381
10    0.260938
11    0.194553
12    0.949627
13    0.180072
14    0.463885
15    0.704774
16    0.195081
17    0.375646
18    0.747100
19    0.273203
20    0.901842
21    0.170020
22    0.248258
23    0.382640
24    0.000000
25    1.160060
26    0.675731
27    0.458732
28    0.308195
29    0.795413
30    0.413686
31    0.266610
32    0.518828
33    0.598256
34    0.298014
35    0.517289
36    1.078517
37    1.550074
38    0.393923
39    0.571982
40    1.167277
41    1.183445
42    1.809283
43    0.459896
44    0.451380
45    0.000000
46    0.091600
47    0.700426
48    0.356988
49    0.418237
50    0.924470
51    0.207887
52    0.000000
53    0.355663
54    0.064978
55    0.543464
56    1.563402
57    0.895842
Name: % Overseas Move Past Year, dtype: float64

In [74]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_16_pd['Birthrate Past Year'] = (census_16_pd["Women 15-50 Who've Given Birth"] / census_16_pd['Total Female Population'])*100
census_16_pd['Birthrate Past Year']

0     4.892694
1     5.050505
2     5.160611
3     4.934380
4     2.705128
5     7.588606
6     4.947659
7     9.278351
8     4.697611
9     5.976560
10    9.117409
11    5.289828
12    6.801811
13    4.643064
14    6.354373
15    5.761701
16    5.882834
17    6.080449
18    4.651617
19    7.093153
20    4.928407
21    7.354722
22    5.008782
23    6.399913
24    7.283951
25    1.581167
26    5.665486
27    4.681624
28    4.493819
29    4.711904
30    5.198310
31    5.220126
32    5.262555
33    5.381138
34    5.966570
35    5.912470
36    4.948401
37    3.626124
38    6.247765
39    4.086593
40    4.788899
41    4.601895
42    5.199492
43    4.955148
44    4.572654
45    1.839080
46    4.877122
47    4.891042
48    4.761015
49    6.020892
50    6.623835
51    4.866362
52    3.832753
53    6.661595
54    4.002175
55    5.271665
56    3.788579
57    7.756440
Name: Birthrate Past Year, dtype: float64

In [75]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_16_pd['Total School Pop'] = census_16_pd['Total Male Public School'] + census_16_pd['Total Female Public School'] + census_16_pd['Total Male Private School'] + census_16_pd['Total Female Private School'] + census_16_pd['Total Male Not Enrolled'] + census_16_pd['Total Female Not Enrolled'] 

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_16_pd['% School Aged'] = census_16_pd['Total School Pop'] / census_16_pd['Total Pop']*100
census_16_pd['% School Aged']

0     96.362735
1     98.310811
2     97.608419
3     96.868370
4     97.224641
5     95.660316
6     96.617370
7     96.521645
8     97.325683
9     95.236098
10    95.742780
11    96.909352
12    95.169652
13    97.173415
14    95.193593
15    95.337446
16    97.265747
17    97.326655
18    96.329081
19    95.266226
20    97.203865
21    96.996316
22    96.415701
23    95.142660
24    97.819108
25    97.950324
26    95.561377
27    96.651825
28    97.619603
29    96.461701
30    96.839472
31    97.520529
32    96.074775
33    96.038194
34    96.022463
35    95.741601
36    96.129320
37    97.113311
38    95.829673
39    97.134706
40    96.418142
41    96.175195
42    96.228706
43    96.735331
44    96.633896
45    98.430570
46    96.455070
47    96.501364
48    96.944208
49    95.612192
50    96.095633
51    95.923193
52    98.065250
53    95.027744
54    97.569805
55    96.485038
56    96.701976
57    95.205489
Name: % School Aged, dtype: float64

In [76]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_16_pd['Ave HH Size'] = (1*(census_16_pd['1-person Fam HH']+census_16_pd['1-person non-Fam HH'])+2*(census_16_pd['2-person Fam HH']+census_16_pd['2-person non-Fam HH'])+3*(census_16_pd['3-person Fam HH']+census_16_pd['3-person non-Fam HH'])+4*(census_16_pd['4-person Fam HH']+census_16_pd['4-person non-Fam HH'])+5*(census_16_pd['5-person Fam HH']+census_16_pd['5-person non-Fam HH'])+6*(census_16_pd['6-person Fam HH']+census_16_pd['6-person non-Fam HH'])+7*(census_16_pd['7+-person Fam HH']+census_16_pd['7+-person non-Fam HH']))/(census_16_pd['Total Fam HH'] + census_16_pd['Total non-Fam HH'])
census_16_pd['Ave HH Size']

0     2.477223
1     2.437778
2     2.240477
3     2.108413
4     2.255589
5     2.965784
6     2.657985
7     2.122026
8     2.457138
9     2.897466
10    2.601629
11    1.992909
12    3.139849
13    1.873808
14    2.995634
15    3.021205
16    2.057899
17    2.100974
18    2.572521
19    3.079686
20    2.135288
21    2.219553
22    2.050066
23    3.147704
24    1.991276
25    1.773637
26    2.881467
27    2.507710
28    2.094554
29    2.778596
30    2.479823
31    1.913524
32    2.909720
33    2.440932
34    3.263978
35    3.060454
36    2.486770
37    1.728198
38    2.971398
39    2.232370
40    2.562139
41    2.537143
42    2.748208
43    2.314228
44    2.183722
45    1.863765
46    2.036617
47    2.685097
48    2.266237
49    2.896951
50    2.850915
51    2.419373
52    1.987978
53    3.230625
54    2.134518
55    2.833683
56    2.363584
57    2.765483
Name: Ave HH Size, dtype: float64

In [77]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_16_pd['% Not Enrolled'] = census_16_pd['Total Male Not Enrolled'] + census_16_pd['Total Female Not Enrolled'] / census_16_pd['Total School Pop']*100
census_16_pd['% Not Enrolled']

0     5.499014e+05
1     5.178110e+02
2     1.567578e+04
3     7.547121e+04
4     1.771166e+04
5     7.720027e+03
6     3.760635e+05
7     1.152946e+04
8     6.733457e+04
9     3.126244e+05
10    9.918770e+03
11    4.743636e+04
12    6.016100e+04
13    7.085893e+03
14    2.983193e+05
15    5.590496e+04
16    2.434511e+04
17    1.649511e+04
18    3.410962e+06
19    5.005709e+04
20    9.233069e+04
21    7.189596e+03
22    3.247015e+04
23    8.526632e+04
24    3.755837e+03
25    5.629171e+03
26    1.492061e+05
27    5.030050e+04
28    3.740003e+04
29    1.058806e+06
30    1.267818e+05
31    7.533724e+03
32    7.790463e+05
33    4.930677e+05
34    1.947516e+04
35    6.931547e+05
36    1.128516e+06
37    3.393883e+05
38    2.382221e+05
39    9.778233e+04
40    2.648629e+05
41    1.438511e+05
42    6.547329e+05
43    9.077132e+04
44    6.384864e+04
45    1.246501e+03
46    1.667799e+04
47    1.500764e+05
48    1.765042e+05
49    1.761646e+05
50    3.227976e+04
51    2.279898e+04
52    5.409938e+03
53    1.473857e+05
54    2.203374e+04
55    2.881655e+05
56    6.107060e+04
57    2.479172e+04
Name: % Not Enrolled, dtype: float64

In [78]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_16_pd['% School-Aged Below Poverty Line'] = census_16_pd['Total Below Poverty Level Ages 3+'] / census_16_pd['Total School Pop']*100
census_16_pd['% School-Aged Below Poverty Line']

0     11.743364
1     18.213058
2      9.723108
3     20.741379
4     12.543634
5     12.811980
6      9.980774
7     18.247272
8      9.725108
9     25.558283
10    19.742393
11    20.373424
12    22.234824
13     9.978661
14    21.603049
15    18.763743
16    24.186509
17    10.781255
18    17.257205
19    20.068991
20     7.813380
21    15.985977
22    19.691253
23    22.989819
24    16.568583
25     8.370268
26    15.046728
27     8.398478
28    11.945042
29    12.156350
30     8.464885
31    12.329816
32    15.873477
33    17.210685
34    10.137778
35    18.203060
36    13.514519
37    12.378033
38    17.055593
39    13.320527
40     7.570144
41    14.994711
42     9.108004
43    14.346817
44    17.027628
45    11.091854
46    21.260684
47    12.105431
48    10.924539
49    17.719962
50    17.008977
51    20.711048
52    19.589942
53    27.399234
54    13.089145
55    10.263499
56    18.568131
57    19.549706
Name: % School-Aged Below Poverty Line, dtype: float64

In [79]:
# Assemble New DF for 2010
Y16_df = census_16_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y16_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1605217,31.694220,1.240891,4.892694,96.362735,2.477223,549901.396781,11.743364
1,"Alpine County, California",003,1184,3.125000,0.675676,5.050505,98.310811,2.437778,517.810997,18.213058
2,"Amador County, California",005,36963,6.097990,0.135270,5.160611,97.608419,2.240477,15675.775437,9.723108
3,"Butte County, California",007,223877,7.817239,0.316692,4.934380,96.868370,2.108413,75471.207455,20.741379
4,"Calaveras County, California",009,44787,5.923594,0.154063,2.705128,97.224641,2.255589,17711.663605,12.543634

In [80]:
# Print to pdf
Y16_df.to_csv("2016_final.csv", encoding="utf-8", index=False)